@import url("../css/global.css");

@import url("../css/variables.css");

.mainpartIntro {
  background-image: url("../assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  padding-top: 50px;
}

.logo2 {
  background-color: var(--color-primary);
  border-radius: 30px;
  padding-inline: 20px;
  padding-block: 20px;
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

.shopnow {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainheaderfontsize);
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 20px;
  background: var(--color-primary);
  color:var(--color-secondary);
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
}

.shopnow:hover {
  color: var(--hovercolor);
  text-decoration: underline;
}

.dotproduct1,
.dotproduct2,
.dotproduct3,
.dotproduct4,
.dotproduct5,
.dotproduct6,
.dotproduct7,
.dotinstock {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
}

.instockdotdiv,
.instockdotdiv2 {
  display: flex;
  align-items: center;
}

.dotinstock {
  background: limegreen;
}

.instock {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.addtocart {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  font-size: var(--buttonfontsize);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
}

.readmorediv {
  text-align: center;
  margin: 15px;
}

.readmorediv .readmore1 {
  text-decoration: none;
  color: var(--color-secondary);
  background-color: #25363C;
  border-radius: 20px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.FilterGender,
.FilterGender select,
.FilterGender1 {
  height: 40px;
  color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  width: 200px;
}

.FilterGenderDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media (max-width: 768px) {
  .mainpart {
    background-size: cover;
  }

  .ProductHeader {
    font-size: var(--phonemainfontsize);
  }
}




#product-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
  background-color: var(--background-color);
}

.jacket-product {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  width: 300px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.image-container img {
  height: 200px;
  width: auto;
}

.view-more {
}

.product-information p {

}