@import url("../css/global.css");

@import url("../css/variables.css");

.mainpartIntro {
  background-image: url("../assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  padding-top: 50px;
}

.logo2 {
  background-color: var(--color-primary);
  border-radius: 30px;
  padding-inline: 20px;
  padding-block: 20px;
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

.shopnow {
  font-family: "Bebas Neue Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainheaderfontsize);
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 20px;
  background: var(--color-primary);
  color:var(--color-secondary);
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
}

.shopnow:hover {
  color: var(--hovercolor);
  text-decoration: underline;
}



.mainpart,
.ProductHeader {
  background-color: var(--background-color);
  padding: 20px;
  font-size: var(--mainfontsize);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 40px;
  justify-content: start;
}

.mainpart a,
.ProductHeader {
  text-decoration: none;
  color: var(--color-primary);
}

.ProductHeader {
  font-family: "Nunito Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

.ProductHeader h1 {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}

.jacket1,
.jacket2,
.jacket3,
.jacket4,
.jacket5,
.jacket6,
.jacket7 {
  background: white;
  border-radius: 40px;
  padding: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jacket1:hover,
.jacket2:hover,
.jacket3:hover,
.jacket4:hover,
.jacket5:hover,
.jacket6:hover,
.jacket7:hover {
  border-style: dashed;
  border-color: var(--color-secondary);
}

.productimage img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.genderclass {
  font-family: "Nunito Sans Light Italic", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainfontsize);
}

.productname {
  font-family: "Nunito Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainfontsize);
}
.productprice {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--mainfontsize);
}

.productimage {
  display: flex;
  height: auto;
  margin-bottom: 20px;
  display: flex;
}

.colors-product {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--mainfontsize);
  height: 1px;
}

.dotproduct1,
.dotproduct2,
.dotproduct3,
.dotproduct4,
.dotproduct5,
.dotproduct6,
.dotproduct7,
.dotinstock {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
}

.instockdotdiv,
.instockdotdiv2 {
  display: flex;
  align-items: center;
}

.dotinstock {
  background: limegreen;
}

.instock {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.addtocart {
  font-family: "Nunito Sans Medium", Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  font-size: var(--buttonfontsize);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
}

.readmore1 {
  color: red;
}

@media (max-width: 768px) {
  .mainpart {
    background-size: cover;
  }

  .jacket1,
  .jacket2,
  .jacket3,
  .jacket4,
  .jacket5,
  .jacket6,
  .jacket7 {
  width: 300px;
  gap: 10px;
  }

  .ProductHeader {
    font-size: var(--phonemainfontsize);
  }
}