@import url("../css/global.css");

@import url("../css/variables.css");

.mainpart {
  background-color: var(--background-color);
  background-size: cover;
  padding: 1px;
  color: var(--color-primary);
}

#product-details-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.product-image img {
  height: 400px;
  width: auto;
  margin-right: 100px;
  border-color: var(--color-primary);
  border-style: inset;
  padding: 20px;
  border-radius: 10px;
}

.product-information {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.add-to-cart {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}